.linkHome {
    text-decoration: none;
    box-shadow: none;
    color: white;
}

.linkProfile {
    text-decoration: none;
    box-shadow: none;
    color: black;
}

.link {
    text-decoration: none;
    box-shadow: none;
    color: black;
}